nav {
  display: flex;
  margin-bottom: 100px;
  /* position: sticky; */
  margin-top: 50px;
  flex-wrap: wrap;

  
}

nav a {
  margin: auto;
  border: 2px solid blue;
  padding: 8px;
  text-decoration: none;
}

.flex {
  display: flex;
  margin: auto;
  min-height: 400px;
  width: 80%;
  margin-top: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
 
}

.item {
  width: 200px;
  height: 350px;
  margin: 20px;
  flex-wrap: wrap;
}

.item img{
     margin: auto;
    display: flex;
   width: 120px;
   height: 120px;
   margin-top: 50px;
   border-radius: 50%;
   border:2px solid;
  
}

.item p{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size:2rem;
    text-shadow: 5px 5px 5px rgb(218, 40, 40);
}
.item button{
    display: flex;
    margin: auto;
    
}
button:hover{
    text-decoration: none;
    background-color: yellow;
    font-size: 1rem;

}

.one{
    background-color: rgb(91, 199, 91);
     border-radius: 20px;
}