*{
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  margin-bottom: 100px;
  /* position: sticky; */
  margin-top: 50px;
  flex-wrap: wrap;

  
}

nav a {
  margin: auto;
  border: 2px solid blue;
  padding: 8px;
  text-decoration: none;
}

.flex {
  display: flex;
  margin: auto;
  min-height: 400px;
  width: 80%;
  margin-top: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item {
  width: 220px;
  height: 300px;
  margin: 20px;
  flex-wrap: wrap;
  background-color:rgb(153, 143, 143);
  border-radius: 20px;
  margin-bottom: 60px;
}


.item img {
  margin: auto;
  display: flex;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 50%;
  border: 2px solid;
}

.item p {
  text-align: center;
  margin-top: 70px;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 5px 5px 5px white;
}

footer{
  background-color:rgb(225, 190, 231) ;
  height: 150px;
  margin-top: 40px;
}

.tbl{
  border: 3px solid black;
  margin:auto;
}